.postInfo{
    background-color: #f7f7f7;
    padding: 28px 0 36px;

    &__wrap{
        p{
            font-size: 17px;
            line-height: 30px;
            color: #000;
            text-align: justify;
            margin: 0;
        }
    }
}